*{
    margin: 0;
    padding: 0;
    font-family: 'Poppons', sans-serif;
    box-sizing: border-box;
}
/* ---navigate bar--- */
header{
    width: 20%;
    height: 100vh;
    background-color: #E9573A;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5%;
}
header .logo{
    width: 100%;
    margin: 0 40px 100px;
    font-family: 'Black Ops One', cursive;
    font-family: 'Croissant One', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Satisfy', cursive;
    color: white;
    font-size: 80px;
}
header nav ul{
        list-style: none;
        position: relative;
}
header nav ul li{
    margin-bottom: 35px;
}
header nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}
header nav ul li a i{
    font-size: 20px;
    padding-right: 10px;
}
header nav ul li a:hover{
    transition: 0.5s;
    background-color: #fff;
    color: #E9573A;
    border-radius: 15%;
}
.current{
    background-color: #fff;
    color: #E9573A;
    border-radius: 15%;
}
/* ---content--- */
main{
    width: 80%;
    height: 100vh;
    padding: 10px;
    position: absolute;
    left: 20%;
}
/* ---hoame page--- */
#home{
    height: 100vh;
    width: 100%;
}
.homeText{
    position: relative;
    padding: 400px 350px;
}
#home::before{
    content: "";
    position: absolute;
    background-image: url(pics/backgroundHome.jpg);
    background-position: center;
    background-size: cover; 
    opacity: 0.5;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

}
#home a{
    color:#E9573A;
    cursor: pointer;
    font-size: 50px;
    font-weight: 600;
    margin-top: 50px;
}
/* ---my task page--- */
#toDo{
    height: 100vh;
    width: 100%;
}
#toDo img{
    height: 30px;
}
/* ---hight light page--- */
#highlight{
    height: 100vh;
    width: 100%;
}
/* ---calender page--- */
#calendar{
    height: 100vh;
    width: 100%;
}
/* ---modify page--- */
#modify{
    height: 100vh;
    width: 100%;
}
#toDo::before,
#highlight::before,
#calendar::before,
#modify::before{
    content: "";
    position: absolute;
    background-color: #E9573A; 
    opacity: 0.5;
    background-size: cover; 
    background-position: center;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
}
.toDoContent,
.highLightContent,
.calendarContent,
.modifyContent{
    position: relative;
}